$BACKGROUND_5: #1e1e1e;
$BACKGROUND_6: #222222;
$BACKGROUND_4: #1b1b1b;
$BACKGROUND_3: #2e2e2e;
$BACKGROUND_7: #262626;

$GREEN: #97fca6;
$GREEN_OPACITY_10: #97fca61a;

$TICK_COLOR: #818ba6;

$WHITE: #ffffff;
$WHITE_OPACITY_5: #ffffff0d;
$WHITE_OPACITY_50: #ffffff80;
$WHITE_OPACITY_70: #ffffffb2;

$GRAY: #73767d;
$DARK_GRAY: #f4a42c0d;

$ORANGE: #ff8000;
$ORANGE_1: #ecbd75;
$ORANGE_3: #ff583a;
$ORANGE_OPACITY_10: #ff583a1a;

$GOLD: #ecbd7533;
$GOLD_100: #ecbd75;
