$BACKGROUND_5: #1e1e1e;
$BACKGROUND_6: #222222;
$BACKGROUND_4: #1b1b1b;
$BACKGROUND_3: #2e2e2e;

$GREEN: #97fca6;

$TICK_COLOR: #818ba6;

$WHITE: #ffffff;

$GRAY: #73767d;
$DARK_GRAY: #f4a42c0d;

$ORANGE: #ff8000;
$ORANGE_1: #ecbd75;
