@use "../../library/theme/scss/variables" as *;

.layout {
  max-width: 390px;
  height: 100vh;
  margin: 0 auto;
  background: $BACKGROUND_5;
  display: flex;
  flex-direction: column;
}

@include mobile {
  .layout {
    max-width: unset;
  }
}
